@duration-panel: 1s;

.content {
  -webkit-animation: slideInLeft @duration-panel;
  -moz-animation: slideInLeft @duration-panel;
  -o-animation: slideInLeft @duration-panel;
  animation: slideInLeft @duration-panel;
}
