.background {
  background-size: 150%;
  background-image: url('@{image-root}/day_in_the_life_of_a_startup_bw_soft_small.jpg');
}

.landing-title {
  height: 500px;
}

.purple {
  background-color: @doon-purple;
  height: 500px;
}
